@{
    ViewBag.Title = "About";
}

<br />
<h3>@Html.ActionLink("К покупкам ->", "ShopList", "Shop", null, new { @class = "details-button" })</h3>
    
<div>

    <div class="shop-content-element">
        <h2>Магазин спортивного питания "FitFood"</h2>
    </div>

    <div class="details-left-element">
        <img src="~/Images/StaticImages/shop-stuff-1.jpg" class="contact-image-size" /><br />
        <img src="~/Images/StaticImages/shop-stuff-2.jpg" class="contact-image-size" /><br />
    </div>
    <div class="details-right-element">
        <p class="about-text">
            Магазин спортивного питания ФитФуд предлагает широкий ассортимент спортивного питания: протеины, гейнеры, креатин, аминокислоты, витамины, глютамин, жиросжигатели, BCAA и другое.
            У нас продаются товары только известных западных фирм – продукты высочайшего качества и эффективности.
            Очень широко представлено спортивное питание для набора массы, спортивное питание для бодибилдинга.
            При нашем ассортименте вы без труда сможете определить свой набор спортивного питания.
            Посетите наш магазин и вы больше никогда не будете задаваться вопросом, где купить спортивное питание! Наличие товаров и цены в магазине и на сайте полностью совпадают.
        </p>
        <p class="about-text">
            Наш магазин спортивного питания является представителем спортивного питания в Республике Беларусь.
        </p>
    </div>


    <div class="details-right-element">
    </div>
    <div class="details-left-element">
        <p class="about-text">
            В нашем магазине спортивного питания вы можете получить подробные бесплатные консультации и помощь в составлении программы питания от наших работников: подбор добавок, дозировок, рекомендации по применению.
        </p>
    </div>

    <div class="details-left-element">
        <p class="about-text">
            Все клиенты, обратившиеся к нам, оставались довольны и достигали больших результатов. Одним из таких клиентов являлся (и является!) Анатолий.
            Анатолий своими силами и с нашей помощью смог накачать тело мечты и был рад поделиться своими результатами с вами, покупателями. Фото Толика ниже.
        </p>
    </div>
    <div class="details-right-element">
        <img src="~/Images/StaticImages/big-boy-1.jpg" class="contact-image-size" />
    </div>

</div>
